<div class="container">
  <hr class="footer-hr">
  <div class="row">
    <div class="col-lg-4 contact">
      <h3>TALK TO US</h3>
      <h5><a href="mail-to:floairridemfg@gmail.com">mikea@floairridemfg.com</a></h5>
      <h5><a href="tel:951-249-6478">951-249-6478</a></h5>
          <ul class="footer-channels">
            <li><a href="https://www.facebook.com/FLOairridemfg/?fref=ts" target="_blank"><i class="fa  fa-facebook-square fa-2x"></i></a></li>
            <li><a href="https://www.instagram.com/floairride/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCVzaadyC9ewuA6UMu0yTzew" target="_blank"><i class="fa fa-youtube-square fa-2x"></i></a></li>
          </ul>
    </div>
    <div class="col-lg-4 contact">
      <h3>WE'LL TALK TO YOU</h3>
        <div class="AW-Form-1909169273"></div>
            <script type="text/javascript">(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//forms.aweber.com/form/73/1909169273.js";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, "script", "aweber-wjs-4pwlvma2e"));
            </script>
    </div>
    <div class="col-lg-3 contact">
      <h3>FLO Airride Mfg.</h3>
      <p>
        Consumed by air suspension, FLO Airride Co-Founders Mike Alexander and Eric Conner teamed up to breathe new life into the air ride community, taking their collective passion for creating works of art to a whole new level...
      </p>
      <p>
        <a href="/about.html">Learn More</a>
      </p>
    </div>
  </div>
</div>

<br>

</body>
