

<nav class="navbar-fixed-top site-header" role="navigation">
  <div class="container">

    <div class="navbar-left">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"><i class="fa fa-bars fa-2x"></i></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav header-links pull-right">
        <li><a href="#">FLO Airride MFG. | Making LOW Happen</a></li>
      </ul>
      <ul class="nav navbar-nav header-links pull-left">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#products">PRODUCTS</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
