
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">

      <ul class="nav navbar-nav pull-left site-title">
        <li><a href="/"><img src="/img/FLOtitle.png" alt="" class="title1"/><img src="/img/FLOtitle2.png" alt="" class="title2"/></a></li>
      </ul>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse links"
          id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav pull-right">
              <li><a href="/home.html">HOME</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">PRODUCTS<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/tanks.html">TANKS</a></li>
                    <li><a href="/compressors.html">COMPRESSORS</a></li>
                    <li><a href="merch.html">MERCH</a></li>
                  </ul>
                </li>
              <li><a href="/about.html">ABOUT</a></li>
              <li><a href="/contact.html">CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>
