@font-face {
    font-family: 'exo_2regular';
    src: url('/Fonts/exo2-regular-webfont.woff2') format('woff2'),
         url('/Fonts/exo2-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2extra_light';
    src: url('/Fonts/exo2-extralight-webfont.woff2') format('woff2'),
         url('/Fonts/exo2-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#carouselButtons {
    margin-left: 100px;
    margin-bottom: 50px;
    position: absolute;
    bottom: 0px;
}

.features ul li {
  list-style: none;
}

.line img {
    margin-left: 50px;
}

@media (max-width: 1199px) {
  .line img {
      display: none;
  }
}

h1, h2, h3, h4, h5, p {
  font-family: 'exo_2regular';
}

hr {
  max-width: 1000px;
}

.site-title li a img {
  height: 55px;
  width: auto;
  margin-left: -110px;
}

.site-title li a:hover {
  background: transparent !important;
}

@media (max-width: 1310px) {
  .site-title li a img {
    margin-left: 0;
  }
}

.nav li img {
  height: 35px;
  width: auto;
}

.dropdown-menu {
  border-color: #fff !important;
}
.title2{
   display: none;
}

@media only screen and (max-width: 500px){
   .title1{
     display: none;
   }

   .title2{
     display: block;
   }
}

.links li {
  padding-top: 20px;
}

.posts h3 a {
  color: #fff;
  font-family: 'exo_2regular';
  text-transform: uppercase;
  text-decoration: none;
}

.posts a:hover {
  color: #777;
}

.posts p {
  font-family: 'exo_2regular';
}

.about h1 {
  color: #777;
  font-family: 'exo_2regular';
  font-size: 3em;
  margin-top: -3px;
}

.contact h2 {
  color: #333;
  font-family: 'exo_2regular';
}

.contact p {
  color: #333;
  font-family: 'exo_2regular';
  padding: 5px 0;
}

.contact h5, p a, h5 a, ul li a {
  color: #333;
  font-family: 'exo_2regular';
  padding: 5px 0;
}

.contact p a:hover, h5 a:hover, ul li a:hover {
  color: #777;
  text-decoration: none;
}

.contact .AW-Form-1517026185 {
  margin-left: -30px;
}

.contact img {
  height: 270px;
  width: auto;
  margin-left: -45px;
  margin-top: -35px;
}

@media (max-width: 1199px) {
  .AW-Form-1517026185 {
    margin-left: 0px;
  }

}

.bg-home {
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: -1;
  -webkit-filter: blur(0px);
}

.bg-tanks {
  background: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: -1;
  -webkit-filter: blur(0px);
}

.section {
  background: #fff;
  padding: 30px 0;
}

.section-break {
  padding: 80px 0;
}

.header-break {
  padding-top: 80px;
}

.site-footer {
  color: #333;
  text-shadow: #444 0 1px 1px;
  padding-top: 40px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.fa {
  color: #333;
}

.footer-channels{
  padding: 15px 0;
}

.footer-channels li {
  display: inline;
  padding: 0px 5px;
}


.navbar {
  background: rgba(0, 0, 0, 0.9);
  border-color: transparent;
}

.navbar li a {
  color: #fff;
  font-family: 'exo_2regular';
}

.navbar li a:hover {
  color: #000;
  background-color: #fff;
}

.navbar button {
  background: #000;
  border-color: #fff;
  border-radius: 2px;
}

.carousel-indicators li {
  background-color: #999 !important;
  background-color: rgba(90,90,90,.25) !important;
  border-color: transparent !important;
}

.carousel-indicators .active {
  background-color: rgba(90,90,90,.5) !important;
  border-color: transparent !important;
}

.glyphicon {
  color: #222;
}

.product-title h1 {
  font-family: 'exo_2regular';
  color: #000;
  font-size: 4em;
  padding: 10px 0;
}

.product-title p {
  font-family: 'exo_2regular';
  color: #000;
  font-size: 1em;
  padding: 20px 0;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.flex-video iframe {
  height: 500px;
  width: 1000px;
}
.section-title {
  padding-left: 50px;
  font-family: 'exo_2regular';
  text-transform: uppercase;
}

.posts h2 {
  font-family: 'exo_2regular';
  text-transform: uppercase;
}

.footer-hr {
  color: #333;
  border-color: #333;
  max-width: 1200px;
}

.contact-info h2 {
  text-transform: uppercase;
  color: #fff;
  font-family: 'exo_2regular';
}

.contact-info h5 {
  color: #fff;
  font-family: 'exo_2regular';
}

.contact-info a {
  color: #fff;
  font-family: 'exo_2regular';
}

.contact-info a:hover {
  color: #777;
  text-decoration: none;
}

.footer-channels li a i:hover {
  color: #777;
}

.company-info {
  color: #fff;
  font-family: 'exo_2regular';
  padding-bottom: 1   0px;
}

.company-info p {
  font-size: .9em;
  color: #333;
  text-shadow: none;
}

.company-info a {
  color: #333;
  font-family: 'exo_2regular';
  text-shadow: none;
}

.company-info a:hover {
  color: #777;
  text-decoration: none;
}

body {
  font: 14px/1.4 arial;
}

.imgWrap {
  position: relative;
  height: 260px;
  width: 350px;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(1, 1, 1, 0.9);
  color: #fff;


  visibility: hidden;
  opacity: 0;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}

.imgDescription h2, p {
  font-family: 'exo_2regular';
  color: #fff;
  padding: 0px 30px;
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}
